html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(../src/images/stadium.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navContainer {
  padding: 15px;
}




