html {
  height: 100%
}

body {
  min-height: 100vh !important;
  min-width: 100vw !important;
  background-color: #1d1e22 !important;
}



.loggedOut {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(../src/images/Staduim.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loggedIn {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #1d1e22;
}

.navContainer {
  padding: 15px;
}

.signInModal .signUpModal {
  background-color: #1d1e22;
}

.signInModal .modal-content {
  background-color: #1d1e22; 
  color: white;
}

.signUpModal .modal-content {
  background-color: #1d1e22; 
  color: white;
}

.tosModal .modal-dialog {
  max-width: 50%; /* adjust this value as needed */
  top: 10%;
  height: auto;
  margin: auto;
}

.tosModal .modal-content {
  background-color: #1d1e22; 
  color: white;
}

.tosContainer {
  margin: 10px;
}

.tosAccept {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.currentBoard .dropdown-menu {
  background-color: #1d1e22;
}



.currentBoard .dropdown-item {
  color: white;
}
.currentBoard .dropdown-item:hover {
  background-color: #a6a6a6;
}

.currentBoard .dropdown-item.active {
  background-color: #141e4a;
}

.playerCards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container {
  margin: 10px;
}

