.loggedOut {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(../src/images/Staduim.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loggedIn {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #1d1e22;
}

.navContainer {
  padding: 15px;
}

.signInModal .signUpModal {
  background-color: #1d1e22;
}

.signInModal .modal-content {
  background-color: #1d1e22; 
  color: white;
}

.signUpModal .modal-content {
  background-color: #1d1e22; 
  color: white;
}

.currentBoard .dropdown-menu {
  background-color: #1d1e22;
}

.currentBoard .dropdown-item {
  color: white;
}
.currentBoard .dropdown-item:hover {
  background-color: #a6a6a6;
}

.currentBoard .dropdown-item.active {
  background-color: #141e4a;
}