.card-container {
  perspective: 1000px !important;
  min-height: 100%;
}

.card-body {
  position: relative !important;
  width: 18rem !important;
  height: 33rem !important;
  text-align: center !important;
  transition: transform 0.6s !important;
  transform-style: preserve-3d !important;
;
  
}

.card-container:hover > .card-body {
  transform: rotateY(180deg) !important;
}

.card-front,
.card-back {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  backface-visibility: hidden !important;
}

.card-back {
  transform: rotateY(180deg) !important;
}

.cardButton {
  bottom: 0;
}

.start-time {
  font-weight: bold;
  color: #333;
  font-size: 1 rem;
}

@keyframes shrinkAndDisappear {
  0% {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(0.5) rotateY(360deg);
  }
  100% {
    opacity: 0;
    transform: scale(0) rotateY(720deg);
  }
}

.card-disappear {
  animation: shrinkAndDisappear 1s forwards;
}
.flash {
  animation: flash-animation 1s infinite alternate; /* Flash animation */
}

@keyframes flash-animation {
  from {
    opacity: 1; /* Start with full opacity */
  }

  to {
    opacity: 0; /* End with zero opacity */
  }
}
