.card-container {
  perspective: 1000px !important;
  min-height: 100%;
}

.card-body {
  position: relative !important;
  width: 18rem !important;
  height: 33rem !important;
  text-align: center !important;
  transition: transform 0.6s !important;
  transform-style: preserve-3d !important;
;
  
}

.card-container:hover > .card-body {
  transform: rotateY(180deg) !important;
}

.card-front,
.card-back {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  backface-visibility: hidden !important;
}

.card-back {
  transform: rotateY(180deg) !important;
}

.cardButton {
  bottom: 0;
}

.start-time {
  font-weight: bold;
  color: #333;
  font-size: 1 rem;
}
