.card-container {
  perspective: 1000px !important;
  min-height: 100%;
}

.card-body {
  position: relative !important;
  width: 18rem !important;
  height: 33rem !important;
  text-align: center !important;
  transition: transform 0.6s !important;
  transform-style: preserve-3d !important;
;
  
}

.card-container:hover > .card-body {
  transform: rotateY(180deg) !important;
}

.card-front,
.card-back {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  backface-visibility: hidden !important;
}

.card-back {
  transform: rotateY(180deg) !important;
}

.cardButton {
  bottom: 0;
}

.start-time {
  font-weight: bold;
  color: #333;
  font-size: 1 rem;
}

@keyframes shrinkAndDisappear {
  0% {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(0.5) rotateY(360deg);
  }
  100% {
    opacity: 0;
    transform: scale(0) rotateY(720deg);
  }
}

.card-disappear {
  animation: shrinkAndDisappear 1s forwards;
}
.flash {
  animation: flash-animation 1s infinite alternate; /* Flash animation */
}

@keyframes flash-animation {
  from {
    opacity: 1; /* Start with full opacity */
  }

  to {
    opacity: 0; /* End with zero opacity */
  }


/*---------------------------------------------------------*/
/*                  Media Query - 500px                    */
/*---------------------------------------------------------*/

/* Media query for screens with width less than 500px */

  
  .player-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    /* margin-right: 15px; */

  }
  
  .card-front{
    height: 225px !important;
    /* width: calc(100vw - 45px)!important; */
    margin-bottom: 100px!important;
    margin: 0 auto !important;
  }

  .card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(100vw - 45px) !important;
    height: 350px !important; /* Change this */
    margin-bottom: 30px !important;

  }

  .card-back {
    overflow: hidden !important; /* Add this */
  }
  
  
  .full-card {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-between;     
     height: 350px!important;  
     margin: 0 auto !important;

   }


  .card-image {
     max-height: 100%!important;
     max-width: 30%!important;
     margin-left: 15px!important;
     margin-top: 25px;
   }
  .card-text {
     margin-right: 15px!important;
     margin-top: 0px!important;
     max-width: 65%!important;
   }
 }

/*---------------------------------------------------------*/
/*                  Media Query - 350px                    */
/*---------------------------------------------------------*/

 @media only screen and (max-width: 350px) {
  .player-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    gap: 10px;

  }
  
  .card-front{
    height: 225px !important;
    /* width: calc(100vw - 45px)!important; */
    margin-bottom: 100px!important;
    margin: 0 auto !important;
  }

  .card-body {
    width: 86vw !important;
    
    /* margin-bottom: 50px; */
    
  }
  
  
  .full-card {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-between;     
     
     margin: 0 auto !important;

   }


  .card-image {
     
     max-width: 30% !important;
     margin-left: 15px !important;
     margin-top: 45px;
   }
  .card-text {
     margin-right: 15px !important;
     margin-top: 0px !important;
     max-width: 65% !important;
   }
 }
